.chat-main
  -# ヘッダー
  .chat-main__group-info
    .chat-main__group-info--name
      = @group.name
    .chat-main__group-info--members
      Member： 
      - @group.users.each do |user|
        = user.nickname
    =link_to " Edit", edit_group_path(@group), class: 'chat-main__group-info--edit-btn'
  -# チャット
  .chat-main__message-list
    = render @messages
  -# フォーム
  = form_for [@group, @message] do |f|
    .chat-main__message-form
      .input-box
        = f.text_field :text, class: "input-box__message", placeholder: "type a message"
        = f.label :image, class: "input-box__image" do
          = icon('fas', 'image')
          = f.file_field :image, calss: "input-box__image--file-field"
      = f.submit 'Send', class: "submit-btn"

